################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.user
obj/
bin/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.vspscc
*.vssscc
.vscode/
*.vc.vc.opendb
*.xlsx

# Build and push for ecr
build.sh
push.sh
